
/* BACKGROUND */


/* outer container */
svg {
    border-width: 1px;
    border-style: solid;
    border-color: #c4c3c5;
}

/* inner container - uncomment the other line to use a gradient fill instead */
.background {
    background: url('../img/pngs/ticks.png') repeat;
}

.axisbackground {
    fill: url(#background-tile) #ff0000;
}

/* background gradients -  to use an image instead set the stop-opacity to  */

.gradienttop {
    stop-color: #FFF;
    stop-opacity: 1;
}

.gradientbottom {
    stop-color: #cd395f;
    stop-opacity: 1;
}

/* AXES */

.axis {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 12px;
    color: #ffffff;
    height: 30px;
}

.month path,
.month line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.year path,
.year line {
    fill: none;
    stroke: #000000;
    stroke: none;
    shape-rendering: crispEdges;
}

.year {
    background-color: #FFFF4F;
    font-weight: bold;
    font-size: 16px;
}

/* GRID LINES */

.grid .tick {
    stroke: #b8b8b8;
    shape-rendering: crispEdges;
    opacity: 0.3;
}
.grid path {
    stroke-width: 0;
    opacity: 0;
}

/* EVENTS */

.short-event {
    fill: #c9cdd6;
}

.event {
    fill: #4c1770;
    stroke-color: #FF0000;
    line-height: 18px;
}

.active {
    fill: #2a23ff;
}

.icon {
    fill : #f7ff98;
}

.label {
    display: inline-block;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial;
    fill: #FFFFFF;
    color: #ffffff;
    dominant-baseline: auto;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 70px;
    padding: 2px;
    font: 12px "Helvetica Neue";
    color: #ffffff;
    background: grey;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    vertical-align: middle;
}